<section class="container w-90 category-section after-nav">
  <h3><a class="text-dark icon-link icon-link-hover" href="#">Featured <i class="fa fa-arrow-right ps-2 py-0 bi" aria-hidden="true"></i></a></h3>
  <div class="row">
    <div class="col-md-8 right-col">
      <div class="card border-0">
        <a href="#"><img src="https://napoleonnews.com/wp-content/uploads/2024/12/Screenshot_20241202-160554_Chrome-1024x671.jpg" class="card-img-top" alt="..."></a>
        <div class="card-body text-center">
          <a href="#" class="text-dark link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
            <h5 class="card-title fs-5">Coders Worry The AI From This $2 Billion Startup Could Replace Their Jobs</h5>
          </a>
          <p>By Amana Alkali | <span><i class="fa fa-clock" aria-hidden="true"></i></span> 25th Oct. 2024</p>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-md-2 g-4 card-group">
        <%# Start %>
        <div class="col">
          <div class="card border-0">
            <div class="row g-3">
              <!-- Image Section -->
              <div class="col-auto">
                <a href="#">
                  <img src="https://napoleonnews.com/wp-content/uploads/2024/12/Screenshot_20241206-194004_Chrome.jpg" 
             class="img-fluid" 
             alt="..." 
             style="width: 100px; object-fit: cover;">
                </a>
              </div>
              <!-- Text Section -->
              <div class="col">
                <div class="card-body p-0">
                  <a href="#" class="text-dark link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                    <h6 class="card-title mb-2">Coders Worry The AI From This $2 Billion Startup Could Replace Their Jobs</h6>
                  </a>
                  <p class="mb-0">By Amana Alkali | <span><i class="fa fa-clock" aria-hidden="true"></i></span> 25th Oct. 2024</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <%# end %>
        <%# Start %>
        <div class="col">
          <div class="card border-0">
            <div class="row g-3">
              <!-- Image Section -->
              <div class="col-auto">
                <a href="#">
                  <img src="https://napoleonnews.com/wp-content/uploads/2024/12/Screenshot_20241206-194004_Chrome.jpg" 
             class="img-fluid" 
             alt="..." 
             style="width: 100px; object-fit: cover;">
                </a>
              </div>
              <!-- Text Section -->
              <div class="col">
                <div class="card-body p-0">
                  <a href="#" class="text-dark link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                    <h6 class="card-title mb-2">Coders Worry The AI From This $2 Billion Startup Could Replace Their Jobs</h6>
                  </a>
                  <p class="mb-0">By Amana Alkali | <span><i class="fa fa-clock" aria-hidden="true"></i></span> 25th Oct. 2024</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <%# end %>
        <%# Start %>
        <div class="col">
          <div class="card border-0">
            <div class="row g-3">
              <!-- Image Section -->
              <div class="col-auto">
                <a href="#">
                  <img src="https://napoleonnews.com/wp-content/uploads/2024/12/Screenshot_20241206-194004_Chrome.jpg" 
             class="img-fluid" 
             alt="..." 
             style="width: 100px; object-fit: cover;">
                </a>
              </div>
              <!-- Text Section -->
              <div class="col">
                <div class="card-body p-0">
                  <a href="#" class="text-dark link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                    <h6 class="card-title mb-2">Coders Worry The AI From This $2 Billion Startup Could Replace Their Jobs</h6>
                  </a>
                  <p class="mb-0">By Amana Alkali | <span><i class="fa fa-clock" aria-hidden="true"></i></span> 25th Oct. 2024</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <%# end %>
        <%# Start %>
        <div class="col">
          <div class="card border-0">
            <div class="row g-3">
              <!-- Image Section -->
              <div class="col-auto">
                <a href="#">
                  <img src="https://napoleonnews.com/wp-content/uploads/2024/12/Screenshot_20241206-194004_Chrome.jpg" 
             class="img-fluid" 
             alt="..." 
             style="width: 100px; object-fit: cover;">
                </a>
              </div>
              <!-- Text Section -->
              <div class="col">
                <div class="card-body p-0">
                  <a href="#" class="text-dark link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                    <h6 class="card-title mb-2">Coders Worry The AI From This $2 Billion Startup Could Replace Their Jobs</h6>
                  </a>
                  <p class="mb-0">By Amana Alkali | <span><i class="fa fa-clock" aria-hidden="true"></i></span> 25th Oct. 2024</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <%# end %>
      </div>
    </div>
    <div class="col-md-4 border-left left-col">
      <div class="card border-0">
        <a href="#"><img src="https://napoleonnews.com/wp-content/uploads/2024/11/images-42.jpeg" class="card-img-top" alt="..."></a>
        <div class="card-body py-1 px-0">
          <a href="#" class="text-dark link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
            <h6 class="card-title">Coders Worry The AI From This $2 Billion Startup Could Replace Their Jobs</h6>
          </a>
          <p>By Amana Alkali | <span><i class="fa fa-clock" aria-hidden="true"></i></span> 25th Oct. 2024</p>
        </div>
      </div>
      <div class="card border-0">
        <a href="#"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqkQyRj_8j4UwtZ9Y8vHMryvnswJivYL5RNw&s" class="card-img-top" alt="..."></a>
        <div class="card-body py-1 px-0">
          <a href="#" class="text-dark link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
            <h6 class="card-title">Coders Worry The AI From This $2 Billion Startup Could Replace Their Jobs</h6>
          </a>
          <p>By Amana Alkali | <span><i class="fa fa-clock" aria-hidden="true"></i></span> 25th Oct. 2024</p>
        </div>
      </div>
    </div>
  </div>
  <h3 class="mt-5">More in Featured</h3>
  <div class="row">
    <div class="col-md-8">
      <div class="card border-0 border-top border-bottom py-3">
        <div class="row g-0">
          <!-- Text Section -->
          <div class="col-md-8 d-flex align-items-center">
            <div class="card-body px-0">
              <p><span><i class="fa fa-clock" aria-hidden="true"></i></span> 25th Oct. 2024</p>
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                This is a longer card with supporting text below as a natural lead-in to additional content. 
                This content is a little bit longer.
              </p>
              <p>By Amana Alkali</p>
            </div>
          </div>
          <!-- Image Section -->
          <div class="col-md-4 m-0 p-0">
            <img src="https://via.placeholder.com/100" class="img-fluid h-100 rounded-end object-fit-cover" alt="Card image">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</section>