<div class="container-fluid bg-danger-subtle text-center">
    <div class="mt-5 p-3">
      <a href=""><img src="https://napoleonnews.com/wp-content/uploads/2024/09/napoleon_logo-768x316.png" width="120" height="50" /></a>
    </div>
    <div class="p-3">
      &copy; Napoleon News, 2024. All rights reserved.
    </div>
</div>